.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.ReactModal__Content {
  transform: scale(0.8);
  transition: transform 200ms ease-out;
}

.ReactModal__Content--after-open{
  transform: scale(1.0);
}

.ReactModal__Content--before-close{
  transform: scale(0.8);
}