.card {
  transition: all 0.1s;
}

.card > img {
  transition: transform 0.1s;
}

.card > img.detailMode {
  transform: scale(0.6) translate(-25%, -27%);
}

.card .details {
  transition: all 0.3s ease;
}

.card .details.detailMode {
  opacity: 1;
}

@keyframes anim-blinking {
  50% { box-shadow: 0 0 10px 0 red; }
}

.card.blinking {
  animation: 0.5s ease-in-out 2 forwards anim-blinking;
}

@media (hover: hover) {
	.card:hover {
		transform: scale(1.1);
    @apply bg-secondary/30;
	}
}